.container {
  padding: 1.5rem;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  list-style: none;
}

.item {
  color: #fff;
  text-align: center;
}

.image {
  border-radius: 9999px;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-weight: 600;
  margin-top: 0.5rem;
}

.character {
  font-size: 0.875rem;      
  color: #9ca3af;
}